<h1>SMART-Time Historie </h1>

<table border="1">
  <thead>
    <tr>
      <th>Aktion</th>
      <th>Benutzer</th>
      <th>Beschreibung</th>
      <th>Datum</th>
      <th>Uhrzeit</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td align="center"><%= history.action %></td>
        <% unless history.user.nil? %>
        <td align="center"><%= image_tag("#{history.user_id}.jpg", :size => "50x60") %></td>
        <% else %>
        <td></td>
        <% end %>
        <td align="center"><%= history.description %></td>
        <td align="center"><%= history.created_at.strftime("%d.%m.%Y") %></td>
        <td align="center"><%= history.created_at.to_s(:time)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
