<%= stylesheet_link_tag 'global' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Aktion:</strong>
  <%= @history.action %>
</p>

<p>
  <strong>Benutzer:</strong>
  <%= @history.user_id %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @history.description %>
</p>

<%= link_to 'Historie bearbeiten', edit_history_path(@history) %> |
<%= link_to 'Zurück', histories_path %>
