<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @history.action %>
</p>

<p>
  <strong>User:</strong>
  <%= @history.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @history.description %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
