<%= form_for(@hirecar) do |f| %>
  <% if @hirecar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hirecar.errors.count, "error") %> prohibited this hirecar from being saved:</h2>

      <ul>
      <% @hirecar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge, 'Amtl. Kennzeichen' %><br>
    <%= f.text_field :badge, :value => 'SB-' %>
  </div>
  
  <div class="field">
    <%= f.label :regestration_date, 'Erstzulassung' %><br>
    <%= f.datetime_select :regestration_date %>
  </div>
  <div class="field">
    <%= f.label :fuel, 'Kraftstoffart' %><br>
    <%= f.select :fuel, [['Diesel', 'Diesel'], ['Benzin', 'Benzin'], ['Gas', 'Gas'], ['Hybrid', 'Hybrid'], ['Elektro', 'Elektro']]%>
  </div>
  <div class="field">
    <%= f.label :brand, 'Marke' %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model, 'Modell' %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :comment, 'Kommentar' %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :defect, 'Bekannte Defekte / Beschädigungen' %><br>
    <%= f.text_area :defect %>
  </div>
  <div class="field">
    <%= f.label :smoking, 'Raucher' %><br>
    <%= f.check_box :smoking %>
  </div>
  <div class="field">
    <%= f.label :stati_id, 'Status des Leihwagens' %><br>
    <%#= f.collection_select  :stati_id, @statis, :id, :name %>
    <%= f.text_field :stati_id %>
  </div>
  <div class="field">
    <%= f.label :tech_check, 'Technik-Check' %><br>
    <%= f.datetime_select :tech_check %>
  </div>
  <div class="actions">
    <%= f.submit 'Neuen Leihwagen erfassen' %>
  </div>
<% end %>
