<h1>Übersicht der Leihwagen - SMP Automobilhandel AG Saarbrücken</h1>

<table>
  <thead>
    <tr>
      <th>Amtl. Kennzeichen</th>
      <th>Erstzulassung</th>
      <th>Kraftstoffart</th>
      <th>Marke</th>
      <th>Modell</th>
      <th>Kommentar</th>
      <th>Bekannte Defekte / Beschädigungen</th>
      <th>Raucher ?</th>
      <th>Status des Leihwagen</th>
      <th>Technik-Check</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hirecars.each do |hirecar| %>
      <tr>
        <td><%= hirecar.badge %></td>
        <td><%= hirecar.regestration_date %></td>
        <td><%= hirecar.fuel %></td>
        <td><%= hirecar.brand %></td>
        <td><%= hirecar.model %></td>
        <td><%= hirecar.comment %></td>
        <td><%= hirecar.defect %></td>
        <td><%= hirecar.smoking %></td>
        <td><%= hirecar.stati_id %></td>
        <td><%= hirecar.tech_check %></td>
        <td><%= link_to 'Leihwagen anzeigen', hirecar %></td>
        <td><%= link_to 'Leihwagen bearbeiten', edit_hirecar_path(hirecar) %></td>
        <td><%= link_to 'Leihwagen löschen', hirecar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuen Leihwagen erfassen', new_hirecar_path %>
