<p id="notice"><%= notice %></p>

<p>
  <strong>Badge:</strong>
  <%= @hirecar.badge %>
</p>

<p>
  <strong>Regestration date:</strong>
  <%= @hirecar.regestration_date %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @hirecar.fuel %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @hirecar.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @hirecar.model %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @hirecar.comment %>
</p>

<p>
  <strong>Defect:</strong>
  <%= @hirecar.defect %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @hirecar.smoking %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hirecar.status_id %>
</p>

<p>
  <strong>Tech check:</strong>
  <%= @hirecar.tech_check %>
</p>

<%= link_to 'Edit', edit_hirecar_path(@hirecar) %> |
<%= link_to 'Back', hirecars_path %>
