<p id="notice"><%= notice %></p>

<p>
  <strong>Amtl. Kennzeichen:</strong>
  <%= @hirecar.badge %>
</p>

<p>
  <strong>Erstzulassung:</strong>
  <%= @hirecar.regestration_date %>
</p>

<p>
  <strong>Kraftstoffart:</strong>
  <%= @hirecar.fuel %>
</p>

<p>
  <strong>Marke:</strong>
  <%= @hirecar.brand %>
</p>

<p>
  <strong>Modell:</strong>
  <%= @hirecar.model %>
</p>

<p>
  <strong>Kommentar:</strong>
  <%= @hirecar.comment %>
</p>

<p>
  <strong>Bekannte Defekte / Beschädigungen:</strong>
  <%= @hirecar.defect %>
</p>

<p>
  <strong>Raucher? :</strong>
  <%= @hirecar.smoking %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hirecar.stati_id %>
</p>

<p>
  <strong>Technik-Check:</strong>
  <%= @hirecar.tech_check %>
</p>

<%= link_to 'Leihwagen bearbeiten', edit_hirecar_path(@hirecar) %> |
<%= link_to 'Zurück', hirecars_path %>
