<%= stylesheet_link_tag 'global' %>
<h1>Feiertage und Schließtage - SMP Automobilhandel AG Saarbrücken</h1>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Name</th>
      <th>Land</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holydays.each do |holyday| %>
      <tr>
        <td><%= holyday.date %></td>
        <td><%= holyday.name %></td>
        <td><%= holyday.country %></td>
        <td><%= link_to 'Feiertag anzeigen', holyday %></td>
        <td><%= link_to 'Feiertag bearbeiten', edit_holyday_path(holyday) %></td>
        <td><%= link_to 'Feiertag löschen', holyday, method: :delete, data: { confirm: 'Feiertag wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Feiertag hinzufügen', new_holyday_path %>
