<p id="notice"><%= notice %></p>

<p>
  <strong>Datum:</strong>
  <%= @holyday.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @holyday.name %>
</p>

<p>
  <strong>Land:</strong>
  <%= @holyday.country %>
</p>

<%= link_to 'Feiertag bearbeiten', edit_holyday_path(@holyday) %> |
<%= link_to 'Zurück', holydays_path %>
