<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vorname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :Nachname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :Straße %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :PLZ %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :Stadt %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :Land %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :Kommentar %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :Autos %><br>
    <%= f.text_field :car %>
  </div>
  <div class="field">
    <%= f.label :Telefon %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :Mobil %><br>
    <%= f.text_field :cellphone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
