<!DOCTYPE html>
<html>
<head>


<div id="user_nav">
  <% if user_signed_in? %>
    Eingeloggt als <%= current_user.email %>. Nicht Sie?
    <%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Regestrieren", new_user_registration_path %> oder <%= link_to "Anmelden", new_user_session_path %>
  <% end %>
</div>


  <title>SMART-Time</title>
  <% unless current_user.nil? %>
  	<%= render 'layouts/navitems' %>
  <% end %>
  <% if current_user.nil? %>
  	<div id="smart_logo" align="center">
  		<%= image_tag("smart-logo.png", :size => "200x200")  %>
  	</div>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
