<%= stylesheet_link_tag 'global' %>
<%= form_for(@stati) do |f| %>
  <% if @stati.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stati.errors.count, "error") %> prohibited this stati from being saved:</h2>

      <ul>
      <% @stati.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Status' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Beschreibung' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Neuen Status erfassen' %>
  </div>
<% end %>
