<h1>Übersicht - Status eines Leihwagen</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statis.each do |stati| %>
      <tr>
        <td><%= stati.name %></td>
        <td><%= stati.description %></td>
        <td><%= link_to 'Status anzeigen', stati %></td>
        <td><%= link_to 'Status bearbeiten', edit_stati_path(stati) %></td>
        <td><%= link_to 'Status löschen', stati, method: :delete, data: { confirm: 'Status wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuen Status erfassen', new_stati_path %>
