<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stati.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stati.description %>
</p>

<%= link_to 'Edit', edit_stati_path(@stati) %> |
<%= link_to 'Back', statis_path %>
