<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @stati.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @stati.description %>
</p>

<%= link_to 'Status bearbeiten', edit_stati_path(@stati) %> |
<%= link_to 'Zurück', statis_path %>
