<%= stylesheet_link_tag 'activities' %>
<h1>Auftragserfassung - SMP Automobilhandel AG Saarbrücken</h1>
<%= render  'available' %>
<table border="2">
  <thead>
    <tr>
      <th>Termin</th>
      <th>Beginn</th>
      <th>Ende</th>
      <th>Zuständiger Mitarbeiter</th>
      <th>Arbeiten</th>
      <th>Benötigte Zeit</th>
      <th>Kunde</th>
      <th>Leihwagen benötigt?</th>
      <th>Direktannahme gewünscht?</th>
      <th>Kundendienstmaßnahme erfolgreich?</th>
      <th>Datenschutzerklärung akzeptiert?</th>
      <th></th>
      <th></th>
      <!--<th></th>-->
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.appointment_date.strftime("%d.%m.%Y") %></td>
        <td><%= activity.start_time.to_s(:time) %></td>
        <td><%= activity.end_time.to_s(:time)  %></td>
        <td><%= image_tag("#{activity.allocated_at}.jpg", :size => "50x60") %></td>
      	<td></td>  		
        <td><%= activity.activity_time %></td>
        <td><%= activity.customer_id %></td>
		<td><%= Hirecar.find(activity.hire_car_id).badge %></td>
		<td><%= activity.direct_contact %></td>
        <td><%= activity.customer_service_agreement %></td>
        <td><%= activity.data_privacy_statement %></td>
        <!--<td><%= link_to image_tag('/images/show.png'), activity%></td>-->
        <td><%= link_to image_tag('/images/edit.png'), edit_activity_path(activity) %></td>
        <td><%= link_to image_tag('/images/delete.png'), activity, method: :delete, data: { confirm: 'Auftrag wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nw1><%= link_to image_tag('/images/new.png'), new_activity_path %><nw1>
