<%= stylesheet_link_tag 'global' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Termin:</strong>
  <%= @activity.appointment_date %>
</p>

<p>
  <strong>Beginn:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>Ende:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Zuständiger Mitarbeiter:</strong>
  <%= @activity.allocated_at %>
</p>

<p>
  <strong>Arbeiten:</strong>
  <%= @activity.work_id %>
</p>

<p>
  <strong>Benötigte Zeit:</strong>
  <%= @activity.activity_time %>
</p>

<p>
  <strong>Kunde:</strong>
  <%= @activity.customer_id %>
</p>

<p>
  <strong>Leihwagen benötigt? :</strong>
  <%= @activity.hire_car_id %>
</p>

<p>
  <strong>Direktannahme gewünscht? :</strong>
  <%= @activity.direct_contact %>
</p>

<p>
  <strong>Kundendienstmaßnahme erfolgreich? :</strong>
  <%= @activity.customer_service_agreement %>
</p>

<p>
  <strong>Datenschutzerklärung akzeptiert? :</strong>
  <%= @activity.data_privacy_statement %>
</p>

<%= link_to 'Auftrag bearbeiten', edit_activity_path(@activity) %> |
<%= link_to 'Zurück', activities_path %>
