<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_day, 'Beginn' %><br>
    <%= f.date_select :start_day %>
  </div>
  <div class="field">
    <%= f.label :end_day, 'Ende' %><br>
    <%= f.date_select :end_day %>
  </div>
  <div class="field">
    <%= f.label :user_id, 'Mitarbeiter' %><br>
    <%= f.collection_select :user_id, @users, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :reason, 'Begründung' %><br>
    <%= f.select :reason, [['Urlaub', 'Urlaub'], ['Krankheit', 'Krankheit'], ['Rückfeiern', 'Rückfeiern'], ['Weiterbildung', 'Weiterbildung'], ['Messe', 'Messe']]%>
  </div>
  <div class="field">
    <%= f.label :comment, 'Kommentar' %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit 'Neue Abwesenheit erfassen' %>
  </div>
<% end %>
