<h1>Übersicht aller Abwesenheiten - SMP Automobilhandel AG Saarbrücken</h1>

<table border="1">
  <thead>
    <tr>
      <th>Beginn</th>
      <th>Ende</th>
      <th>Urlaubstage</th>
      <th>Mitarbeiter</th>
      <th>Begründung</th>
      <th>Kommentar</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.start_day.strftime("%d.%m.%Y") %></td>
        <td><%= absence.end_day.strftime("%d.%m.%Y") %></td>
        <td><%= (absence.end_day - absence.start_day).to_i %></td>
        <td><%= image_tag("#{absence.user_id}.jpg", :size => "50x60") %></td>
        <td><%= absence.reason %></td>
        <td><%= absence.comment %></td>
        <td><%= link_to 'Abwesenheit anzeigen', absence %></td>
        <td><%= link_to 'Abwesenheit bearbeiten', edit_absence_path(absence) %></td>
        <td><%= link_to 'Abwesenheit löschen', absence, method: :delete, data: { confirm: 'Abwesenheit wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Abwesenheit erfassen', new_absence_path %>
