<p id="notice"><%= notice %></p>

<p>
  <strong>Beginn:</strong>
  <%= @absence.start_day %>
</p>

<p>
  <strong>Ende:</strong>
  <%= @absence.end_day %>
</p>

<p>
  <strong>Mitarbeiter:</strong>
  <%= @absence.user_id %>
</p>

<p>
  <strong>Begründung:</strong>
  <%= @absence.reason %>
</p>

<p>
  <strong>Kommentar:</strong>
  <%= @absence.comment %>
</p>

<%= link_to 'Abwesenheit bearbeiten', edit_absence_path(@absence) %> |
<%= link_to 'Zurück', absences_path %>
