<h1>Listing navitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @navitems.each do |navitem| %>
      <tr>
        <td><%= navitem.name %></td>
        <td><%= navitem.url %></td>
        <td><%= navitem.rang %></td>
        <td><%= link_to 'Show', navitem %></td>
        <td><%= link_to 'Edit', edit_navitem_path(navitem) %></td>
        <td><%= link_to 'Destroy', navitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Navitem', new_navitem_path %>
