<%= stylesheet_link_tag 'global' %>
<h1>Übersicht der NavItems</h1>
<table_nav>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Rang</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @navitems.each do |navitem| %>
      <tr>
        <td><%= navitem.name %></td>
        <td><%= navitem.url %></td>
        <td><%= navitem.rang %></td>
        <td><%= link_to 'NavItem anzeigen', navitem %></td>
        <td><%= link_to 'NavItem bearbeiten', edit_navitem_path(navitem) %></td>
        <td><%= link_to 'NavItem löschen', navitem, method: :delete, data: { confirm: 'NavItem wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</table_nav>
<br>

<%= link_to 'Neues NavItem anlegen', new_navitem_path %>
