<%= stylesheet_link_tag 'global' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @navitem.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @navitem.url %>
</p>

<p>
  <strong>Rang:</strong>
  <%= @navitem.rang %>
</p>

<%= link_to 'NavItem bearbeiten', edit_navitem_path(@navitem) %> |
<%= link_to 'Zurück', navitems_path %>
